@media screen and (min-width: 1280px) {
  .carousel:not(.carousel-slider) {
    width: min-content !important;
  }
  .carousel .thumbs {
    transform: none !important;
  }
  .thumbs-wrapper .thumbs {
    display: flex !important;
    flex-direction: column !important;
  }
}
.thumbs-wrapper {
  margin-bottom: 0 !important;
}
.slide {
  background: transparent !important;
}
