@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .p-inherit {
      padding: inherit;
    }
    .min-h-inherit {
      min-height: inherit;
    }
    .bg-inherit {
      background: inherit;
    }
    .font-lato {
      font-family: "Lato", sans-serif;
    }
    .grid-row-1 {
      grid-row: 1;
    }
    .h-screen-without-nav {
      height: calc(100vh - 6.5rem);
    }
    .h-screen-slider {
      height: calc(85vh - 95px);
    }
  }
}
